<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <!-- Bootswatch Cosmo Theme -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" rel="stylesheet">
    
    <!-- FontAwesome for Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"  />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/Teacher.css') }}">
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='js/Teacher.js') }}"> -->

	<link rel="stylesheet" href="{{ url_for('static', filename='css/section.css') }}">
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='js/sections.js') }}"> -->

	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/sections.js') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/subject.js') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/classes.js') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/students.js') }}"> -->

	


	<!-- <script src="{{ url_for('static', filename='js/section.js') }}"></script>
	<script src="{{ url_for('static', filename='js/subject.js') }}"></script> -->

</head>
<body>
   
    {% include 'header.html' %}
    <div class="d-flex" id="wrapper">
        {% include 'sidebar.html' %}
        <div id="page-content-wrapper" class="d-flex flex-column w-100">
            
            <div class="container-fluid flex-grow-1">
                {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="alert alert-{{ messages[0][0] }}">
            {{ messages[0][1] }}
        </div>
    {% endif %}
{% endwith %}
                {% block content %}{% endblock %}
                
            </div>
			{% include 'footer.html' %}
        </div>
		
    </div>
    <!-- Bootstrap and JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("toggled");
    });
</script>


<script>
    $(document).ready(function(){
      $("#menu-toggle").dblclick(function(){
        $("#sidebar-wrapper").show();
      });
      $("#show").click(function(){
        $(".LOG").show();
      });
    });
    </script>

</body>
</html>
