<header class="bg-dark text-white p-3">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <!-- Toggle Button -->
            <button class="btn btn-light" id="menu-toggle">
                <i  title="Click To Hide Sidebar" class="fas fa-bars"></i>
            </button>

            <h1 class="h3 mb-0 ml-3">STUDENT MANAGE SYSTEM  <i class="fa fa-graduation-cap" aria-hidden="true"></i></h1>

            <form class="d-flex">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
              </form>
            <!-- <div>
                
                <img src="/static/upload/photos/c.jpeg" style="width: 10%; height: 20%; border-radius: 6%;" alt="LOGO">
              
            </div> -->

            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="ti-user"></i>
                
                <p class="notification"></p>
                
                <p><strong><?php //echo $_SESSION["admin"]; ?></strong></p>
                
                <b class="caret"></b>
                <i class="fas fa-user"></i> Welcome Teacher !
                </a>
        </div>
        
    </div>
</header>
